---
name: CI
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build:
    name: Build
    strategy:
      fail-fast: false
      matrix:
        kernel_version:
          - '5.4.32'
          - '4.16.18'
          - '4.18.0'
          - '4.14.171'
          - '3.10.0'
        libc:
          - glibc
          - musl
        exclude:
          # excludes musl on 4.18.20
          - kernel_version: 4.18.20
            libc: musl
          # excludes musl on 4.18.16
          - kernel_version: 4.18.16
            libc: musl
          # excludes musl on 4.18.0
          - kernel_version: 4.18.0
            libc: musl
          # excludes musl on 4.16.18
          - kernel_version: 4.16.18
            libc: musl
          # excludes musl on 4.16.3
          - kernel_version: 4.16.3
            libc: musl
          # excludes musl on 4.15
          - kernel_version: 4.15
            libc: musl
          # excludes musl on 3.10.0
          - kernel_version: 3.10.0
            libc: musl
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run buil.sh
        run: |
          if [ ${{ matrix.kernel_version }} = "4.18.0" ]; then
            os=centos8
          elif [ ${{ matrix.kernel_version }} = "3.10.0" ]; then
            os=centos7
          else
            os=generic
          fi
          ./build.sh ${{ matrix.kernel_version }} ${{ matrix.libc }} "${os}"
      - name: List Artifacts
        run: |
          ls -lah artifacts
          test -f artifacts/netdata_ebpf-*.tar.xz
      - name: Upload Artifacts
        uses: actions/upload-artifact@v1
        if: success()
        with:
          name: artifacts-${{ matrix.kernel_version }}-${{ matrix.libc }}
          path: artifacts
