---
name: CI
on:
  pull_request:
jobs:
  build-artifacts:
    name: Build Artifacts
    strategy:
      fail-fast: false
      matrix:
        kernel_version:
          - '5.11.2'
          - '5.10.3'
          - '5.4.85'
          - '4.16.18'
          - '4.18.0'
          - '4.14.212'
          - '3.10.0'
        libc:
          - static
          - glibc
          - musl
        exclude:
          # excludes static on 4.16.18 (https://github.com/netdata/kernel-collector/issues/153)
          - kernel_version: 4.16.18
            libc: static
          # excludes static on 4.18.18 (https://github.com/netdata/kernel-collector/issues/153)
          - kernel_version: 4.18.0
            libc: static
          # excludes static on 3.10.0 (https://github.com/netdata/kernel-collector/issues/153)
          - kernel_version: 3.10.0
            libc: static
          # excludes musl on 4.18.0
          - kernel_version: 4.18.0
            libc: musl
          # excludes musl on 4.16.18
          - kernel_version: 4.16.18
            libc: musl
          # excludes musl on 3.10.0
          - kernel_version: 3.10.0
            libc: musl
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run buil.sh
        run: |
          if [ ${{ matrix.kernel_version }} = "4.18.0" ]; then
            os=centos8
          elif [ ${{ matrix.kernel_version }} = "3.10.0" ]; then
            os=centos7
          else
            os=generic
          fi
          ./build.sh ${{ matrix.kernel_version }} ${{ matrix.libc }} "${os}"
      - name: List Artifacts
        run: |
          ls -lah artifacts
          test -f artifacts/netdata_ebpf-*.tar.xz
      - name: Upload Artifacts
        uses: actions/upload-artifact@v2.2.3
        if: success()
        with:
          name: artifacts-${{ matrix.kernel_version }}-${{ matrix.libc }}
          path: artifacts
