---
name: CI
on:
  pull_request:
concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build-artifacts:
    name: Build Artifacts
    strategy:
      fail-fast: false
      matrix:
        kernel_version:
          - '5.16.8'
          - '5.15.19'
          - '5.11.19'
          - '5.10.99'
          - '5.4.178'
          - '4.16.18'
          - '4.18.0'
          - '4.14.212'
          - '3.10.0'
        libc:
          - static
          - glibc
          - musl
        exclude:
          # excludes static on 3.10.0 (https://github.com/netdata/kernel-collector/issues/153)
          - kernel_version: 3.10.0
            libc: static
          # excludes musl on 3.10.0
          - kernel_version: 3.10.0
            libc: musl
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Run build.sh
        run: |
          if [ ${{ matrix.kernel_version }} = "4.18.0" ]; then
            os=centos8
          elif [ ${{ matrix.kernel_version }} = "3.10.0" ]; then
            os=centos7
          else
            os=generic
          fi
          ./build.sh ${{ matrix.kernel_version }} ${{ matrix.libc }} "${os}"
      - name: List Artifacts
        run: |
          ls -lah artifacts
          test -f artifacts/netdata_ebpf-*.tar.xz
      - name: Upload Artifacts
        uses: actions/upload-artifact@v1
        if: success()
        with:
          name: artifacts-${{ matrix.kernel_version }}-${{ matrix.libc }}
          path: artifacts
