---
name: CI
on:
  pull_request:
concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true
jobs:
  build-artifacts:
    name: Build Artifacts
    strategy:
      fail-fast: false
      matrix:
        kernel_version:
          - '6.16.2'
          - '6.8.2'
          - '5.16.18'
          - '5.15.63'
          - '5.14.0'
          - '5.11.19'
          - '5.10.139'
          - '5.4.210'
          - '5.4.17'
          - '4.16.18'
          - '4.18.0'
          - '4.14.291'
        libc:
          - static
          - glibc
          - musl
        exclude:
          - kernel_version: 5.4.17
            libc: static
          - kernel_version: 5.4.17
            libc: musl
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: true
          fetch-depth: 0
      - name: Run build.sh
        run: |
          if [ ${{ matrix.kernel_version }} = "5.14.0" ]; then
            os=centos9
          elif [ ${{ matrix.kernel_version }} = "5.4.17" ]; then
            os=oracle8
          elif [ ${{ matrix.kernel_version }} = "4.18.0" ]; then
            os=centos8
          else
            os=generic
          fi
          ./build.sh ${{ matrix.kernel_version }} ${{ matrix.libc }} "${os}"
      - name: List Artifacts
        run: |
          ls -lah artifacts
          test -f artifacts/netdata_ebpf-*.tar
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        if: success()
        with:
          name: artifacts-${{ matrix.kernel_version }}-${{ matrix.libc }}
          path: artifacts
