---
name: CI
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build:
    name: Build
    strategy:
      fail-fast: false
      matrix:
        kernel_version:
          - '5.4.18'
          - '4.19.102'
          - '4.14.170'
        libc:
          - glibc
          - musl
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Prepare Build Image
        run: |
          docker build --build-arg KERNEL_VERSION=${{ matrix.kernel_version }} -f Dockerfile.${{ matrix.libc }} -t kernel-collector:${{ matrix.libc }} .
      - name: Build It
        run: |
          docker run --rm -v $PWD:/kernel-collector kernel-collector:${{ matrix.libc }}
      - name: List Artifacts
        run: |
          ls -lah artifacts
          test -f artifacts/netdata_ebpf-*.tar.xz
      - name: Upload Artifacts
        uses: actions/upload-artifact@v1
        if: success()
        with:
          name: artifacts-${{ matrix.kernel_version }}-${{ matrix.libc }}
          path: artifacts
